<app-banner></app-banner>

<!-- Project Steps Start -->
<section class="bg-grey" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-3">
        <div class="service-img">
          <img
            src="../../../assets/images/blog-lg.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>

      <div class="col-lg-6 pl-4">
        <div class="service-content">
          <h1>Our Research Project Steps</h1>
          <p style="text-align: justify; padding-right: 10px">
            This Smart Fitness and Health Management system can have used school leaver to elders. They
can choose their best schedule from using this application unique feature. It helps to give
default workout schedule for client who used this application at home. They can add their
Height, Weight, and Age after login this application. Then they can choose their own and
suitable workout schedule from the defaults schedules. And also, fitness center coach get
notification about that client and workout schedule. If it is good coach can approve the workout
schedule or if it is not good for that client coach can reject that schedule using this application.  </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 service-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <div class="carousel slide" id="service-carousel" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>1. BMI rate calculation using Artificial Intelligence (AI) technology.</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>
                          2. Meal Plan & Diet Schedule.
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>3. Online Workout Schedule.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Project Steps End -->
