<app-banner></app-banner>

<!-- Project Steps Start -->
<section class="bg-grey" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-3">
        <div class="service-img">
          <img
            src="../../../assets/images/blog-lg.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>

      <div class="col-lg-6 pl-4">
        <div class="service-content">
          <h1>Our Research Project Steps</h1>
          <p style="text-align: justify; padding-right: 10px">
            The proposed project which is focusing on detecting crop cultivation problems like diseases, pest damage, and nutrition deficiency. Also giving the solutions for those problems. This system uses a blend of ontology engineering and image processing. In information technology, an ontology is the working model of entities and interactions in some particular domain of knowledge or practices. In this research, a precise ontology on the problem of crop cultivation will be built in order to provide a more accurate relationship between the damage of crop cultivation. This study will consider the type of diseases, pest damage, and nutrition deficiency.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 service-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <div class="carousel slide" id="service-carousel" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>1. To identify nutrition deficiency and diseases.</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>
                          2. To identify pest damage.
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>3. Applying ontology knowledge-based to monitor the problem and providing solutions.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Project Steps End -->
