<!-- HERO -->
<section class="banner-area py-7">
  <!-- Content -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 text-center text-lg-left">
        <div class="main-banner">
          <!-- Heading -->
          <h5 class="display-4 mb-4 font-weight-normal" style="font-size: 44px;">
           Smart Fitness and Health Management system
          </h5>

          <!-- Subheading -->
          <p class="lead mb-4" style="text-align: justify; padding-right: 10px">
            This Smart Fitness and Health Management system can have used school leaver to elders. They
            can choose their best schedule from using this application unique feature. It helps to give
            default workout schedule for client who used this application at home. They can add their
            Height, Weight, and Age after login this application. Then they can choose their own and
            suitable workout schedule from the defaults schedules. And also, fitness center coach get
            notification about that client and workout schedule. If it is good coach can approve the workout
            schedule or if it is not good for that client coach can reject that schedule using this application.
          </p>

          <!-- Button -->
          <p class="mb-0">
            <a routerLink="/bmi-calculator" class="mx-2 btn btn-primary btn-circled">
              Health Supporter
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-5 d-none d-lg-block">
        <div class="banner-img-block">
          <img
            src="../../../assets/images/banner-img-5.png"
            alt="banner-img"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
