<section class="section" id="process" >
  <div aria-live="polite" toastContainer></div>
  <div class="container">
    <div class="global-container">
      <div class="card login-form">
        <div class="card-body">
          <h3 class="card-title text-center">Registration in to Smart Fitness</h3>
          <div class="card-text">
            <!--
          <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
            <form [formGroup]="userForm">
              <h3 class="card-title text-center">Personal Details</h3>
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" formControlName="firstName" class="form-control form-control-sm"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Middle Name</label>
                <input type="text" formControlName="middleName" class="form-control form-control-sm"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control form-control-sm"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Gender</label>
                  <select type="number" [(ngModel)]="selectedGender" aria-placeholder="Select Gender" style="width: -webkit-fill-available;" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let gender of genders" [ngValue]="gender">{{gender.name}}</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Date of Birth</label>
                <input type="date" formControlName="dob" class="form-control form-control-sm" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Home Address</label>
                <input type="text" formControlName="HomeAddress" class="form-control form-control-sm"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile Number</label>
                <input type="text" formControlName="MobileNumber" class="form-control form-control-sm"
                  id="exampleInputEmail1" aria-describedby="emailHelp" required pattern="[- +()0-9]{10,12}">
              </div>


              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email"  required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" formControlName="Email" class="form-control form-control-sm" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>



              <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" formControlName="Username" class="form-control form-control-sm"
                  id="exampleInputUsername" aria-describedby="emailHelp">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" formControlName="Password" class="form-control form-control-sm"
                  id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Repeat Password</label>
                <input type="password" formControlName="Password" class="form-control form-control-sm"
                  id="exampleInputPassword1">
              </div>


              <h3 class="card-title text-center">Medical Information </h3>

              <div class="form-group">
                <label for="exampleInputPassword1">CurrentWeight</label>
                <input type="text" formControlName="CurrentWeight" class="form-control form-control-sm"
                  id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">CurrentHeight</label>
                <input type="text" formControlName="CurrentHeight" class="form-control form-control-sm"
                  id="exampleInputPassword1">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">BloodType</label>
                <input type="text" formControlName="BloodType" class="form-control form-control-sm"
                  id="exampleInputPassword1">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Allergies</label>
                  <input type="radio" id="yes" name="Allergies" value="HTML" (click)="changeAllergiesState(true)">
                  <label for="yes">Yes</label>
                  <input type="radio" id="no" name="Allergies" value="CSS" (click)="changeAllergiesState(false)">
                  <label for="no">No</label><br>
                <!-- <input type="text" formControlName="Allergies" *ngIf="haveAllergies" class="form-control form-control-sm" id="exampleInputPassword1"> -->
              </div>

              <!-- <div class="form-group">
                <label for="exampleInputPassword1">UserRole</label>
                <input type="text" formControlName="UserRole" class="form-control form-control-sm"
                  id="exampleInputPassword1">
              </div> -->






              <button type="submit" class="btn btn-primary btn-block" (click)="open(content)">Pay and Sign up</button>

              <div class="sign-up">
                Already have an account? <a href="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Payment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
              <div class="form-group">
                <div class="alert alert-success">
                  <h2>
                  <input type="radio" name="Payment" value="HTML" (click)="paymentTypeSelect(1)">
                 1 month – Rs.3000</h2>

                </div><br>
                <div class="alert alert-info">
                  <h2>
                  <input type="radio" name="Payment" value="CSS" (click)="paymentTypeSelect(2)">
                  3 month – Rs. 7000</h2>

                </div><br>
                <div class="alert alert-warning">
                  <h2>
                  <input type="radio" name="Payment" value="CSS" (click)="paymentTypeSelect(3)">
            6 month – Rs. 15000</h2>

              </div><br>
                <div class="alert alert-danger">
                  <h2>
                  <input type="radio" name="Payment" value="CSS" (click)="paymentTypeSelect(4)">
                  1 year – Rs.24000</h2>

                </div>




                <!-- <input type="text" formControlName="Allergies" *ngIf="haveAllergies" class="form-control form-control-sm" id="exampleInputPassword1"> -->
              </div>
      </div>
    </form>
    <form class="credit-card">
      <div class="form-header">
        <h4 class="title">Credit card detail</h4>
      </div>

      <div class="form-body">
        <!-- Card Number -->
        <input type="text" class="card-number" placeholder="Card Number" required>

        <!-- Date Field -->
        <div class="date-field">
          <div class="month">
            <select name="Month" required>
              <option value="january">January</option>
              <option value="february">February</option>
              <option value="march">March</option>
              <option value="april">April</option>
              <option value="may">May</option>
              <option value="june">June</option>
              <option value="july">July</option>
              <option value="august">August</option>
              <option value="september">September</option>
              <option value="october">October</option>
              <option value="november">November</option>
              <option value="december">December</option>
            </select>
          </div>
          <div class="year">
            <select name="Year" required>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
        </div>

        <!-- Card Verification Field -->
        <div class="card-verification">
          <div class="cvv-input">
            <input type="text" placeholder="CVV" required>
          </div>
          <div class="cvv-details">
            <p>3 or 4 digits usually found <br> on the signature strip</p>
          </div>
        </div>

        <!-- Buttons -->
        <button type="submit" class="proceed-btn" (click)="addUser()">Proceed</button>
        <!-- <button type="submit" class="paypal-btn"><a href="#">Pay With</a></button> -->
      </div>
    </form>

    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="addUser()">Pay and Sign up</button> -->
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </div>

</ng-template>
