<section class="section" id="process">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <div class="section-heading">
          <!-- Heading -->
          <h2 class="section-title">Online Workout Schedule</h2>
        </div>


      </div>
    </div>
    <!-- <h2>{{schedule?.SelectDays}}</h2>
    <i>Start Date: {{schedule?.StartDate | date}} - End Date: {{schedule?.EndDate | date}}</i>
    <hr> -->
    <div class="row">
      <div *ngFor="let item of schedule; index as i;" >
        <div class="col-sm" *ngIf="item.Status==1">
          <div class="card card-ui">
            <div class="card-body">
              <h5 class="card-title">{{item?.Exercise}}</h5>
              <p class="card-text">Day: {{item?.ScheduleTypeName}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Sets:{{item?.Sets}}</li>
              <li class="list-group-item">KG:{{item?.Kg}}</li>
              <li class="list-group-item">Reps:{{item?.Reps}}</li>
              <li class="list-group-item">Rest Time:{{item?.RestTime}}mins</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

    <div *ngFor="let schedule of schedules; index as i">
      <br />
     <h2>{{ schedule.name }}</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Exercise</th>
            <th scope="col">Sets</th>
            <th scope="col">Kg</th>
            <th scope="col">Rest Time(min)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let workout of schedule.data; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ workout.name }}
            </td>
            <td>{{ workout.sets }}</td>
            <td>{{ workout.kg }}</td>
            <td>{{ workout.restTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</section>
