<section class="section" id="process">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <div class="section-heading">
          <!-- Heading -->
          <h2 class="section-title">About Us</h2>

          <!-- Subheading -->
          <p class="text-justify">
            Fitness as one's ability to execute day-to-day exercises with optimal execution, perseverance,
            and strength with the management of infection, exhaustion, and stress and decreased inactive
            way of behaving. People should have three types of fitness. They are, Aerobic fitness, muscle
            strength, and flexibility. People can make sure these types of fitness from attain the fitness and
            health centers.
            Now a day, fitness and health is more important to every people. Because, some of new
            technology, new inventions, and foods make people weak and sick. As people are becoming
            wellbeing cognizant these days, a critical increment should be visible among the individuals at
            different Fitness and Health Centers.
          </p>
          <p class="text-justify">
            In the Sri Lanka Fitness centers use manual system for their works. Nonetheless, it is
            challenging for the fitness centers proprietors to physically deal with the affirmation sections,
            keep information of new and old individuals, booking occasions, and so forth.
            Using this application, new members can easily get registered with the fitness center by
            selecting the desired membership program & completing the payment procedure. The members
            can then access the app by using login credentials. The users can select a goal for themselves
            & set a target. The app will notify the users of the upcoming events for which they can get
            themselves registered if interested. In this project, fitness and health center means gym. Client
            can check the nearest fitness center location from using this application.
          </p>
          <p class="text-justify">
            This Smart Fitness and Health Management system can have used school leaver to elders.
            They
            can choose their best schedule from using this application unique feature. It helps to give
            default workout schedule for client who used this application at home. They can add their
            Height, Weight, and Age after login this application. Then they can choose their own and
            suitable workout schedule from the defaults schedules. And also, fitness center coach get
            notification about that client and workout schedule. If it is good coach can approve the workout
            schedule or if it is not good for that client coach can reject that schedule using this application.
          </p>
          <p class="text-justify">
            This application can used clients, coachers, and fitness and health center owners. The
            fitness
            center management team can view the list of all the members & can filter them as per their
            membership program. The fitness center owners can add new events for the members. Thus,
            this Application will provide a user-friendly experience to both the members & the fitness team.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-6">
        <img src="../../../assets/images/blog-lg.jpg" alt="" style="height: 45rem; border: 3px solid #d2c2c2" />
      </div>
    </div>
  </div>
</section>
