<section class="section" id="process">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <div class="section-heading">
          <!-- Heading -->
          <h2 class="section-title">About Our Project</h2>

          <!-- Subheading -->
          <p class="text-justify">
            Farmers' current approach for detecting plant disorders is that they can be spotted with the
            naked eye and their understanding of plant disorders. It is time-consuming, difficult, and
            inaccurate to do so on a large number of plants. Using specialists comes at a high price. In such
            circumstances, suggested procedures are used where technologies are employed for the
            automatic detection of diseases, making the process cheaper and easier. A high level of
            complexity is added by visually examining symptoms on plant leaves and pods, where plant
            disorders can be easily detected. Image processing is used for the detection of plant diseases.
            Disease detection involves the steps like image acquisition, image pre-processing, image
            segmentation, feature extraction and classification. In some cases, different plant damage
            shows similar symptoms. In such a case an ontology engineering knowledge base is used to
            clearly identify whether it is a pest, disease, or nutrition deficiency. It is possible to identify the
            damage accurately. It also provides solutions to the damage caused by the use of the knowledge
            base.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-6">
        <img
          src="../../../assets/images/blog-lg.jpg"
          alt=""
          style="height: 45rem; border: 3px solid #d2c2c2"
        />
      </div>
    </div>
  </div>
</section>
