<!-- NAVBAR -->
<div class="main-navigation" id="mainmenu-area">
  <div class="container">
    <nav
      class="
        navbar navbar-expand-lg navbar-dark
        bg-primary
        main-nav
        navbar-togglable
        rounded-radius
        mt-4
      "
    >
      <a class="navbar-brand d-lg-none d-block" routerLink="/home">
        <h4>Smart Fitness </h4>
      </a>
      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link js-scroll-trigger"> Home </a>
          </li>
          <li class="nav-item">
            <a routerLink="/bmi-calculator" class="nav-link js-scroll-trigger">
              BMI Calculator
            </a>
          </li>
          <li class="nav-item" *ngIf="userRole==1">
            <a routerLink="/plan-schedule" class="nav-link js-scroll-trigger">
              Meal Plan & Diet Schedule
            </a>
          </li>
          <li class="nav-item" *ngIf="userRole==1">
            <a routerLink="/workout-schedule" class="nav-link js-scroll-trigger">
              Online Workout Schedule
            </a>
          </li>
          <li class="nav-item" *ngIf="userRole==1 || userRole ==2">
            <a routerLink="/add-meal-plan" class="nav-link js-scroll-trigger">
              Add Meal Plan
            </a>
          </li>
          <li class="nav-item" *ngIf="userRole==1 || userRole ==2 ">
            <a routerLink="/add-workout-schedule" class="nav-link js-scroll-trigger">
              Add Custom Workout Schedule
            </a>
          </li>
          <li class="nav-item" *ngIf="userRole==2 || userRole == 3">
            <a routerLink="/schedules" class="nav-link js-scroll-trigger">
              Approve Workout Schedules
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link js-scroll-trigger">
              About
            </a>
          </li>
        </ul>
        <ul class="ml-lg-auto list-unstyled m-0">
          <li>
            <a (click)="loginLogout()" class="btn btn-white btn-circled" style="color: black;"
              >{{userRole==1 || userRole ==2?'Logout':'Login'}}</a
            >
          </li>
        </ul>
      </div>
      <!-- / .navbar-collapse -->
    </nav>
  </div>
  <!-- / .container -->
</div>
