<section class="section" id="process">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <div class="section-heading">
          <!-- Heading -->
          <h2 class="section-title">Meal Plan and Diet Schedule</h2>
        </div>


      </div>
    </div>
    <h2>{{mealplan?.SelectDays}}</h2>
    <i>Start Date: {{mealplan?.StartDate | date}} - End Date: {{mealplan?.EndDate | date}}</i>
    <hr>
    <div class="row">
      <div class="col-sm" *ngIf="mealplan?.Breakfast">
        <div class="card card-ui">
          <div class="card-body">
            <h5 class="card-title">Breakfast</h5>
            <p class="card-text">{{mealplan?.Breakfast}}</p>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">One grapefruit</li>
            <li class="list-group-item">Two poached eggs (or fried in a non-stick pan)</li>
            <li class="list-group-item">One slice 100% whole wheat toast</li>
          </ul> -->
        </div>
      </div>
      <div class="col-sm" *ngIf="mealplan?.MidMorningSnack">
        <div class="card card-ui">
          <div class="card-body">
            <h5 class="card-title">Mid Morning Snack</h5>
            <p class="card-text">{{mealplan?.MidMorningSnack}}</p>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">One banana</li>
            <li class="list-group-item">One cup plain yogurt with one tablespoon honey</li>
          </ul> -->
        </div>
      </div>
      <div class="col-sm" *ngIf="mealplan?.Lunch">
        <div class="card card-ui">
          <div class="card-body">
            <h5 class="card-title">Lunch</h5>
            <p class="card-text">{{mealplan?.Lunch}}</p>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">Six ounces grilled chicken breast</li>
            <li class="list-group-item">Large garden salad (three cups mixed greens with one cup cherry tomatoes, one-quarter avocado, topped with two tablespoons balsamic vinaigrette)</li>
          </ul> -->
        </div>
      </div>
      <div class="col-sm" *ngIf="mealplan?.AfternoonSnack">
        <div class="card card-ui">
          <div class="card-body">
            <h5 class="card-title">Afternoon Snack</h5>
            <p class="card-text">{{mealplan?.AfternoonSnack}}</p>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">One cup (about 10) baby carrots</li>
            <li class="list-group-item">Three tablespoons hummus</li>
            <li class="list-group-item">One-half piece of pita bread</li>
          </ul> -->
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-ui">
          <div class="card-body">
            <h5 class="card-title">Dinner</h5>
            <p class="card-text">{{mealplan?.Dinner}}</p>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">One cup steamed broccoli</li>
            <li class="list-group-item">One cup of brown rice</li>
            <li class="list-group-item">Halibut (four-ounce portion)</li>
          </ul> -->
        </div>
      </div>
      <!-- <div class="col-sm">
        <div class="card card-ui">
          <div class="card-body">
            <h5 class="card-title">Snack</h5>
            <p class="card-text">Macronutrients: 302 calories, 3 grams protein, 49 grams carbohydrates, 12 grams fat</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Two pitted medjool dates</li>
            <li class="list-group-item">One ounce 70% dark chocolate</li>
          </ul>
        </div>
      </div> -->
    </div>

  </div>
</section>
